body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30s0px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: saddlebrown;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
